/* #product-img:hover{
    width: 370px;
    height: 270px;
} */
#product-img{
    transform-origin: 0 0;
  transition: transform .25s, visibility .25s ease-in;
    
}
#product-img:hover{
    transform: scale(2);
}